@font-face {
  font-family: "odin";
  src: url("Norse-Bold.otf") format("opentype");
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100%;
  display: flex;
}

.form-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  flex: 3;
  background-color: #f9f9f9;
}

.image-side {
  flex: 1.5;
  background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.banner {
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 0;
}

.logo {
  height: 50px;
}

.logo-text {
  color: white;
  display: inline-block;
  font-family: "odin", sans-serif;
  font-size: 5rem;
  margin: 0;
}

.form-wrapper {
  padding-right: 270px;
}

.form-content {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #333;
}

input {
  width: 50%;
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 20px;
}

button {
  background-color: #596d48;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

a {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}

h2,
h3,
p {
  margin-bottom: 20px;
}

/* Style for invalid password fields when empty */
input[type="password"]:invalid {
    border: 1px solid red;
  }
  
  /* Style for focused input fields */
  input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  /* Add a red asterisk to password labels */
  label[for="password"]::after,
  label[for="confirm-password"]::after {
    content: " *";
    color: red;
  } 